<div class= "container">
    <div class="row">
     <div class="col-md-6">
         <table class="table">
            <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th> 
                </tr>
               </thead>
       <tbody>
          <tr *ngFor="let coffee of cofeeList; let coffeIndex= index">
              <td class="v-middle">
                <img [src]="coffe.image" height="60">
              </td>
            <td class="v-middle">{{ coffe.name }} </td>
            <td class="v-middle">{{cofee.price}} </td>
            <td class="v-middlee">
                <button class="btn btn-warning btn-sm mr-3" (click)="editCoffee(coffee, cofeeIndex)">
                   <i class="fas fa-edit"></i>
                 </button>
                 <button class="btn btn-danger btn-sm" (click)="deleteCoffee(cofeeIndex)">
                   <i class="fas fa-trash"></i>
                 </button>
             </td>
            </tr>
          </tbody>
         </table>
        </div>      
        <div class="col-md-6">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Name" [(ngModel)]="coffeeName">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="number" class="form-control" placeholder="Price" [(ngModel)]="coffeePrice">
            </div>
            <div class="form-group">
              <label>Image</label>
              <input type="text" class="form-control" [(ngModel)]="coffeeImage" placeholder="http://image-url.jpg">
            </div>
            <div class="text-right">
              <button class="btn btn-outline-secondary mr-3" (click)="clear()">
                <i class="fas fa-times mr-2"></i>
                Clear
              </button>
              <button class="btn btn-success" (click)="addNewCoffee()" *ngIf="!isEdit">
                <i class="fas fa-plus mr-2"></i>
                Add
              </button>
              <button class="btn btn-warning" (click)="saveEditCoffee()" *ngIf="isEdit">
                <i class="fas fa-save mr-2"></i>
                Save Edit
              </button>
            </div>
          </div>
        </div>
      </div>